min_peers = 1
max_peers = 20
min_peers_seed = -1
max_peers_seed = -1
max_uploads = 50

set_max_file_size=2000G

download_rate = 0
upload_rate = 0

directory = /var/www/files/torrents
session = /opt/rtorrent/session

# Watch a directory for new torrents, and stop those that have been deleted
#load_start- start auotmatically. load- don't start
#schedule = watch_directory,5,5,load_start=/opt/rtorrent/watch/*.torrent
# */
schedule = watch_directory,5,5,load=/opt/rtorrent/watch/*.torrent
# */
# Close torrents when diskspace is low.
schedule = low_diskspace,5,60,close_low_diskspace=100M

# Port range to use for listening.
port_range = 60203-60213
# Start opening ports at a random position within the port range.
port_random = yes

encryption = allow_incoming,enable_retry,prefer_plaintext

scgi_port = 127.0.0.1:5000
